<div>
  <form>
    <div class="shadow overflow-hidden sm:rounded-md">
      <div class="px-4 py-5 bg-white sm:p-6">
        <div class="grid grid-cols-1">
          <h3 class="text-2xl">Azure</h3>
        </div>
        <div class="grid grid-cols-1">
          <h3 class="text-xl text-gray-400">Virtual Machine</h3>
        </div>
        <div class="grid grid-cols-1 pt-2">
          <label for="azure-region" class="block text-sm font-medium text-gray-700">Region</label>
          <select [(ngModel)]="selectedRegion" (ngModelChange)="selectedRegionChanged()" id="azure-region" name="azure-region"
                  class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-emerald-500 focus:border-emerald-500 sm:text-sm">
            <option *ngFor="let item of region">{{item.region}}</option>
          </select>
        </div>
        <div  class="grid grid-cols-1 pt-2">
          <label for="azure-machine-image" class="block text-sm font-medium text-gray-700">Amazon Machine MachineImage</label>
          <select id="azure-machine-image" name="azure-machine-image"
                  class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-emerald-500 focus:border-emerald-500 sm:text-sm">
            <option *ngFor="let item of operatingSystem">{{item.operating_system}}</option>
          </select>
        </div>
        <div  class="grid grid-cols-1 pt-2">
          <label for="azure-instance-serie" class="block text-sm font-medium text-gray-700">Instance Serie</label>
          <select [(ngModel)]="selectedInstanceSerie" (ngModelChange)="selectedPricePerHourChanged($event)" id="azure-instance-serie" name="azure-instance-serie"
                  class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-emerald-500 focus:border-emerald-500 sm:text-sm">
            <option *ngFor="let item of instanceSerie" [ngValue]="item.price_per_hour">Family: {{item.instance_serie}} {{item.core}} vCPU {{item.ram}} GiB Memory</option>
          </select>
        </div>
        <div  class="grid grid-cols-1 pt-2">
          <label for="azure-instance-price" class="block text-sm font-medium text-gray-700">Price per hour</label>
          <input type="text" id="azure-instance-price" #azureInstancePrice name="azure-instance-price"
                 class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-emerald-500 focus:border-emerald-500 sm:text-sm"
                 [(ngModel)]="selectedInstanceSerie" disabled>

        </div>
        <div class="grid grid-cols-1 pt-2">
          <label for="azure-size" class="block text-sm font-medium text-gray-700">Size (GB)</label>
          <input type="number" [(ngModel)]="selectedSize" (ngModelChange)="selectedStorageSizeChanged($event)"id="azure-size" name="azure-size"
                 class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-emerald-500 focus:border-emerald-500 sm:text-sm">
        </div>

      </div>
    </div>
  </form>
</div>
