<div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
  <div class="mt-10 sm:mt-0">
    <div class="md:grid md:grid-cols-3 md:gap-6">

      <div>
        <div class="shadow overflow-hidden sm:rounded-md">
          <div class="px-4 py-5 bg-white sm:p-6">
            <div class="grid grid-cols-1">
              <h3 class="text-2xl">Provider A</h3>
            </div>
            <div class="grid grid-cols-1 pt-2">
              <select id="provider-a" [(ngModel)]="selectedProviderA"
                      class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-emerald-500 focus:border-emerald-500 sm:text-sm">
                <option *ngFor="let option of optionsProvider">
                  {{option.name}}
                </option>
              </select>
            </div>
          </div>

          <div *ngIf="selectedProviderA === 'AWS'">
            <app-aws-elastic-computing-cloud
              (instanceEvent)="changePriceAws($event)"
              (storageSizeEvent)="changeSizeAws($event)">
            </app-aws-elastic-computing-cloud>
          </div>

          <div *ngIf="selectedProviderA === 'GCP'">
            <app-gcp-compute-engine
              (machineEvent)="changePriceGcp($event)"
              (storageSizeEvent)="changeSizeGcp($event)">
            </app-gcp-compute-engine>
          </div>

          <div *ngIf="selectedProviderA === 'Azure'">
            <app-azure-virtual-machine
              (instanceEvent)="changePriceAzure($event)"
              (storageSizeEvent)="changeSizeAzure($event)">
            </app-azure-virtual-machine>
          </div>

        </div>
      </div>

      <div>
        <div class="shadow overflow-hidden sm:rounded-md">
          <div class="px-4 py-5 bg-white sm:p-6">
            <div class="grid grid-cols-1">
              <h3 class="text-2xl">Provider B</h3>
            </div>
            <div class="grid grid-cols-1 pt-2">
              <select id="provider-b" [(ngModel)]="selectedProviderB"
                      class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-emerald-500 focus:border-emerald-500 sm:text-sm">
                <option *ngFor="let option of optionsProvider">
                  {{option.name}}
                </option>
              </select>
            </div>
          </div>

          <div *ngIf="selectedProviderB === 'AWS'">
            <app-aws-elastic-computing-cloud
              (instanceEvent)="changePriceAws($event)"
              (storageSizeEvent)="changeSizeAws($event)">
            </app-aws-elastic-computing-cloud>
          </div>

          <div *ngIf="selectedProviderB === 'GCP'">
            <app-gcp-compute-engine
              (machineEvent)="changePriceGcp($event)"
              (storageSizeEvent)="changeSizeGcp($event)">
            </app-gcp-compute-engine>
          </div>

          <div *ngIf="selectedProviderB === 'Azure'">
            <app-azure-virtual-machine
              (instanceEvent)="changePriceAzure($event)"
              (storageSizeEvent)="changeSizeAzure($event)">
            </app-azure-virtual-machine>
          </div>

        </div>
      </div>

      <div>
        <div class="shadow overflow-hidden sm:rounded-md">
          <div class="px-4 py-5 bg-white sm:p-6">
            <div class="grid grid-cols-1">
              <h3 class="text-2xl">Summary</h3>
            </div>

            <div *ngIf="selectedProviderA === 'AWS'">
              <app-aws-elastic-computing-cloud-calculate
                [priceInDollar]="awsPrice"
                [sizeInGigabyte]="awsSize"
                [information]="awsInformation">
              </app-aws-elastic-computing-cloud-calculate>
            </div>

            <div *ngIf="selectedProviderA === 'GCP'">
              <app-gcp-compute-engine-calculate
                [priceInDollar]="gcpPrice"
                [sizeInGigabyte]="gcpSize"
                [information]="gcpInformation">
              </app-gcp-compute-engine-calculate>
            </div>

            <div *ngIf="selectedProviderA === 'Azure'">
              <app-azure-virtual-machine-calculate
                [priceInDollar]="azurePrice"
                [sizeInGigabyte]="azureSize"
                [information]="azureInformation">
              </app-azure-virtual-machine-calculate>
            </div>

            <div class="pt-2">
            </div>

            <div *ngIf="selectedProviderB === 'AWS'">
              <app-aws-elastic-computing-cloud-calculate
                [priceInDollar]="awsPrice"
                [sizeInGigabyte]="awsSize"
                [information]="awsInformation">
              </app-aws-elastic-computing-cloud-calculate>
            </div>

            <div *ngIf="selectedProviderB === 'GCP'">
              <app-gcp-compute-engine-calculate
                [priceInDollar]="gcpPrice"
                [sizeInGigabyte]="gcpSize"
                [information]="gcpInformation">
              </app-gcp-compute-engine-calculate>
            </div>

            <div *ngIf="selectedProviderB === 'Azure'">
              <app-azure-virtual-machine-calculate
                [priceInDollar]="azurePrice"
                [sizeInGigabyte]="azureSize"
                [information]="azureInformation">
              </app-azure-virtual-machine-calculate>
            </div>

            <div class="pt-2">
            </div>

            <div *ngIf="selectedProviderA  && selectedProviderB ">
              <button (click)="createHistory()"
                class="w-full h-12 px-5 text-black transition-colors duration-150 bg-[#27d17f] rounded-lg focus:shadow-outline">
                History
              </button>
              <small *ngIf="showError" class="bg-white text-red-700" role="alert">Currently the backend is not reachable</small>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
