<div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
  <div class="mt-10 sm:mt-0">
    <div class="md:grid md:grid-cols-3 md:gap-6">

      <div>
        <div class="shadow overflow-hidden sm:rounded-md">
          <div class="px-4 py-5 bg-white sm:p-6">
            <div class="grid grid-cols-1">
              <h3 class="text-2xl">Provider A</h3>
            </div>
            <div class="grid grid-cols-1 pt-2">
              <select id="provider-a" [(ngModel)]="selectedProviderA"
                      class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-emerald-500 focus:border-emerald-500 sm:text-sm">
                <option *ngFor="let o of optionsProviderA">
                  {{o.name}}
                </option>
              </select>
            </div>
          </div>

          <div *ngIf="selectedProviderA === 'AWS'">
            <app-aws-elastic-computing-cloud></app-aws-elastic-computing-cloud>
          </div>

          <div *ngIf="selectedProviderA === 'GCP'">
            <app-gcp-compute-engine></app-gcp-compute-engine>
          </div>

          <div *ngIf="selectedProviderA === 'Azure'">
            <app-azure-virtual-machine></app-azure-virtual-machine>
          </div>

        </div>
      </div>

      <div>
        <div class="shadow overflow-hidden sm:rounded-md">
          <div class="px-4 py-5 bg-white sm:p-6">
            <div class="grid grid-cols-1">
              <h3 class="text-2xl">Provider B</h3>
            </div>
            <div class="grid grid-cols-1 pt-2">
              <select id="provider-b" [(ngModel)]="selectedProviderB"
                      class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-emerald-500 focus:border-emerald-500 sm:text-sm">
                <option *ngFor="let optionB of optionsProviderB">
                  {{optionB.name}}
                </option>
              </select>
            </div>
          </div>

          <div *ngIf="selectedProviderB === 'AWS'">
            <app-aws-elastic-computing-cloud></app-aws-elastic-computing-cloud>
          </div>

          <div *ngIf="selectedProviderB === 'GCP'">
            <app-gcp-compute-engine></app-gcp-compute-engine>
          </div>

          <div *ngIf="selectedProviderB === 'Azure'">
            <app-azure-virtual-machine></app-azure-virtual-machine>
          </div>

        </div>
      </div>

      <!--      <div>-->
      <!--        <div class="shadow overflow-hidden sm:rounded-md">-->
      <!--          <div class="px-4 py-5 bg-white sm:p-6">-->
      <!--          </div>-->
      <!--        </div>-->
      <!--      </div>-->

      <div>
        <div class="shadow overflow-hidden sm:rounded-md">
          <div class="px-4 py-5 bg-white sm:p-6">
            <div class="grid grid-cols-1">
              <h3 class="text-2xl">Summary</h3>
            </div>


            <div *ngIf="selectedProviderA === 'AWS'">
              <app-aws-vm-calculate></app-aws-vm-calculate>
            </div>

            <div *ngIf="selectedProviderA === 'GCP'">
              <app-gcp-vm-calculate></app-gcp-vm-calculate>
            </div>

            <div *ngIf="selectedProviderA === 'Azure'">
              <app-azure-vm-calculate></app-azure-vm-calculate>
            </div>

            <div class="pt-2">
            </div>

            <div *ngIf="selectedProviderB === 'AWS'">
              <app-aws-vm-calculate></app-aws-vm-calculate>
            </div>

            <div *ngIf="selectedProviderB === 'GCP'">
              <app-gcp-vm-calculate></app-gcp-vm-calculate>
            </div>

            <div *ngIf="selectedProviderB === 'Azure'">
              <app-azure-vm-calculate></app-azure-vm-calculate>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>
</div>
