<div class="flex items-center justify-center h-screen">
  <div class="mt-10 sm:mt-0">

    <div class="px-4 py-3 sm:px-6 text-center">
      <p class="text-black font-bold text-2xl">New Password</p>
    </div>
    <div class="px-4 py-3 sm:px-6 text-center">
      <p class="text-black font-bold">{{newPassword}}</p>
    </div>
    <div class="px-4 py-3 sm:px-6 text-center">
      <p class="text-black font-light">Please use your new password immediately and change it after the login </p>
    </div>
    <div class="px-4 py-3 sm:px-6 content-center text-center">
      <a routerLink="/login" class=" text-emerald-500 font-light">Login</a>
    </div>

  </div>

</div>
