<div>
  <form>
    <div class="shadow overflow-hidden sm:rounded-md">
      <div class="px-4 py-5 bg-white sm:p-6">
        <div class="grid grid-cols-1">
          <h3 class="text-2xl">Azure</h3>
        </div>
        <div class="grid grid-cols-1">
          <h3 class="text-xl text-gray-400">Database for PostgreSQL</h3>
        </div>
        <div class="grid grid-cols-1 pt-2">
          <label for="azure-region" class="block text-sm font-medium text-gray-700">Region</label>
          <select id="azure-region" name="azure-region"
                  class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-emerald-500 focus:border-emerald-500 sm:text-sm">
          </select>
        </div>
        <div class="grid grid-cols-1 pt-2">
          <label for="azure-compute" class="block text-sm font-medium text-gray-700">Compute</label>
          <select id="azure-compute" name="azure-compute"
                  class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-emerald-500 focus:border-emerald-500 sm:text-sm">
          </select>
        </div>
        <div class="grid grid-cols-1 pt-2">
          <label for="azure-storage" class="block text-sm font-medium text-gray-700">Storage size (GB)</label>
          <select [(ngModel)]="selectedSize" id="azure-storage" name="azure-storage"
                  class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-emerald-500 focus:border-emerald-500 sm:text-sm">
          </select>
        </div>
        <div class="grid grid-cols-1 pt-4">
          <button
            class="w-full h-12 px-5 text-black transition-colors duration-150 bg-[#27d17f] rounded-lg focus:shadow-outline">
            Calculate
          </button>
        </div>
      </div>

    </div>
  </form>
</div>
