<div>
  <form>
    <div class="shadow overflow-hidden sm:rounded-md">
      <div class="px-4 py-5 bg-white sm:p-6">
        <div class="grid grid-cols-1">
          <h3 class="text-2xl">AWS</h3>
        </div>
        <div class="grid grid-cols-1">
          <h3 class="text-xl text-gray-400">EC2</h3>
        </div>
        <div class="grid grid-cols-1 pt-2">
          <label for="aws-region" class="block text-sm font-medium text-gray-700">Region</label>
          <select [(ngModel)]="selectedRegion" (ngModelChange)="selectedRegionChanged()" id="aws-region" name="aws-region"
                  class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-emerald-500 focus:border-emerald-500 sm:text-sm">
            <option *ngFor="let item of region">{{item.region}}</option>
          </select>
        </div>
        <div  class="grid grid-cols-1 pt-2">
          <label for="amazon-machine-image" class="block text-sm font-medium text-gray-700">Amazon Machine MachineImage</label>
          <select id="amazon-machine-image" name="amazon-machine-image"
                  class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-emerald-500 focus:border-emerald-500 sm:text-sm">
            <option *ngFor="let item of image">{{item.machine_image}}</option>
          </select>
        </div>
        <div  class="grid grid-cols-1 pt-2">
          <label for="amazon-instance-type" class="block text-sm font-medium text-gray-700">Instance Type</label>
          <select [(ngModel)]="selectedInstanceType" (ngModelChange)="selectedInstanceTypeChanged($event)" id="amazon-instance-type" name="amazon-instance-type"
                  class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-emerald-500 focus:border-emerald-500 sm:text-sm">
            <option *ngFor="let item of instanceType" [ngValue]="item">Family: {{item.instance_type}} {{item.core}} vCPU {{item.ram}} GiB Memory</option>
          </select>
        </div>
        <div  class="grid grid-cols-1 pt-2">
          <label for="amazon-instance-price" class="block text-sm font-medium text-gray-700">Price per hour</label>
          <input type="text" id="amazon-instance-price" #awsInstancePrice name="amazon-instance-price"
                 class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-emerald-500 focus:border-emerald-500 sm:text-sm"
                 [(ngModel)]="selectedPricePerHour" disabled>

        </div>
        <div class="grid grid-cols-1 pt-2">
          <label for="aws-size" class="block text-sm font-medium text-gray-700">Size (GB)</label>
          <input type="number" [(ngModel)]="selectedSize" (ngModelChange)="selectedStorageSizeChanged($event)"id="aws-size" name="aws-size"
                 class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-emerald-500 focus:border-emerald-500 sm:text-sm">
        </div>

      </div>

    </div>
  </form>
</div>
