<nav class="bg-white">
    <div class="relative flex items-center justify-between h-16">

        <div class="flex-1 flex items-center justify-center sm:items-stretch sm:justify-start">
            <div class="pl-5 flex-shrink-0 flex items-center">
                <img class="block lg:hidden h-8 w-auto" src="../../assets/cloudia-logo.png" alt="Cloudia">
                <img class="hidden lg:block h-8 w-auto" src="../../assets/cloudia-logo.png" alt="Cloudia">
            </div>
        </div>
        <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">

            <div class="ml-3 relative">
                <a routerLink="/help" class="text-black px-3 py-2 text-sm font-bold">Help</a>
            </div>

            <div class="pr-5 ml-3 relative">
                <button routerLink="/login"
                    class="border-emerald-500  text-black px-3 py-2 transition-colors duration-150 border rounded-md text-sm font-medium">Log
                    in</button>
            </div>

        </div>
    </div>
</nav>


<div class="flex items-center justify-center h-screen">
    <div class="mt-10 sm:mt-0">

    <div class="px-4 py-3 sm:px-6 text-center">
        <p class="text-black font-bold text-2xl">Confirm your email address</p>
    </div>
    <div class="px-4 py-3 sm:px-6 text-center">
        <p class="text-black font-bold">Click the link in the email we sent you to get one step closer to comparing with
            Cloudia.</p>
    </div>
    <div class="px-4 py-3 sm:px-6 text-center">
        <p class="text-black font-light">Check your spam if you don't see it.</p>
    </div>
    <div class="px-4 py-3 sm:px-6 content-center text-center">
        <a routerLink="/resend-registration" class=" text-emerald-500 font-light">Resend Email</a>
    </div>

</div>

</div>