<div class="flex items-center justify-center h-screen">
    <div class="mt-10 sm:mt-0">

    <div class="px-4 py-3 sm:px-6 text-center">
        <p class="text-black font-bold text-2xl">Confirm your email address</p>
    </div>
    <div class="px-4 py-3 sm:px-6 text-center">
        <p class="text-black font-bold">Click the link in the email we sent you to get one step closer to comparing with
            Cloudia.</p>
    </div>
    <div class="px-4 py-3 sm:px-6 text-center">
        <p class="text-black font-light">Check your spam if you don't see it.</p>
    </div>
    <div class="px-4 py-3 sm:px-6 content-center text-center">
        <a routerLink="/resend-registration" class=" text-emerald-500 font-light">Resend Email</a>
    </div>

</div>

</div>
