<nav class="bg-white">
  <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
    <div class="relative flex items-center justify-between h-16">
      <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
        <!-- Mobile menu button-->

        <button type="button"
                class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-white hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white"
                aria-controls="mobile-menu" aria-expanded="false">
          <span class="sr-only">Open main menu</span>
          <!--
            Icon when menu is closed.

            Heroicon name: outline/menu

            Menu open: "hidden", Menu closed: "block"
          -->
          <svg class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
               stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"/>
          </svg>
          <!--
            Icon when menu is open.

            Heroicon name: outline/x

            Menu open: "block", Menu closed: "hidden"
          -->
          <svg class="hidden h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
               stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"/>
          </svg>
        </button>
      </div>
      <div class="flex-1 flex items-center justify-center sm:items-stretch sm:justify-start">
        <div class="flex-shrink-0 flex items-center">
          <img class="block lg:hidden h-8 w-auto" i18n-alt src="../../../assets/cloudia-logo.png" alt="Cloudia">
          <img class="hidden lg:block h-8 w-auto" i18n-alt src="../../../assets/cloudia-logo.png" alt="Cloudia">
        </div>
        <div class="hidden sm:block sm:ml-6">

          <div class="flex space-x-4" *ngIf="this.authenticationService.isLoggedIn">
            <a i18n routerLink="/home"
               class="text-black hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Virtual Machine</a>

            <a i18n routerLink="/postgresql"
               class="text-black hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">PostgreSQL</a>

            <a i18n routerLink="/history"
               class="text-black hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">History</a>

            <a i18n routerLink="/profile"
               class="text-black hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Profile</a>

          </div>

          <div class="flex space-x-4" *ngIf="!this.authenticationService.isLoggedIn">
            <a i18n routerLink="/"
               class="text-black hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium"
               aria-current="page">Features</a>

            <a i18n routerLink="/freemium"
               class="text-black hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Freemium</a>

            <a i18n routerLink="/help"
               class="text-black hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Help</a>
          </div>
        </div>
      </div>
      <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">

        <div i18n class="ml-3 relative" *ngIf="language">
          <button (click)="changeToGerman()"  class="text-black px-3 py-2 rounded-md text-sm font-medium"><img src="../../../assets/germany.png" alt="German">
          </button>
        </div>

        <div i18n class="ml-3 relative" *ngIf="!language">
          <button (click)="changeToEnglish()" class="text-black px-3 py-2 rounded-md text-sm font-medium"><img src="../../../assets/great-britain.png" alt="English">
          </button>
        </div>

        <div i18n class="ml-3 relative" *ngIf="!this.authenticationService.isLoggedIn">
          <button routerLink="/login" class="bg-gray-100 text-black px-3 py-2 rounded-md text-sm font-medium">Log in
          </button>
        </div>

        <div i18n class="ml-3 relative" *ngIf="!this.authenticationService.isLoggedIn">
          <button routerLink="/register" class="bg-[#27d17f] px-3 py-2 text-white rounded-md text-sm font-medium">
            Sign-up
          </button>
        </div>

        <div i18n class="ml-3 relative" *ngIf="this.authenticationService.isLoggedIn">
          <button (click)="logout()" class="border-red-600 text-black px-3 py-2 transition-colors duration-150 border rounded-md text-sm font-medium">Log out
          </button>
        </div>

      </div>
    </div>
  </div>

  <!-- Mobile menu, show/hide based on menu state. -->
  <div class="sm:hidden" id="mobile-menu">
    <div class="px-2 pt-2 pb-3 space-y-1">
      <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
      <a href="#" class="bg-gray-900 text-white block px-3 py-2 rounded-md text-base font-medium" aria-current="page">Features</a>

      <a href="#"
         class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium">Business</a>

      <a href="#"
         class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium">Company</a>

      <a href="#"
         class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium">Help</a>
    </div>
  </div>
</nav>

