<div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
  <div class="mt-10 sm:mt-0">
    <div class="md:grid md:grid-cols-3 md:gap-6">
      <div>
        <form>
          <div class="shadow overflow-hidden sm:rounded-md">
            <div class="px-4 py-5 bg-white sm:p-6">
              <div class="grid grid-cols-1">
                <h3 class="text-2xl">GCP</h3>
              </div>
              <div class="grid grid-cols-1">
                <h3 class="text-xl text-gray-400">Compute Engine</h3>
              </div>





              <div class="grid grid-cols-1 pt-4">
                <button
                  class="w-full h-12 px-5 text-black transition-colors duration-150 bg-[#27d17f] rounded-lg focus:shadow-outline">
                  Calculate
                </button>
              </div>
            </div>

          </div>
        </form>
      </div>

      <div>
        <form>
          <div class="shadow overflow-hidden sm:rounded-md">
            <div class="px-4 py-5 bg-white sm:p-6">
              <div class="grid grid-cols-1">
                <h3 class="text-2xl">AWS</h3>
              </div>
              <div class="grid grid-cols-1">
                <h3 class="text-xl text-gray-400">EC2</h3>
              </div>
            </div>

          </div>
        </form>
      </div>
      <div>
        <div class="shadow overflow-hidden sm:rounded-md">
          <div class="px-4 py-5 bg-white sm:p-6">
            <div class="grid grid-cols-1">
              <h3 class="text-2xl">Summary</h3>
            </div>
            <div class="grid grid-cols-1">
              <h3 class="text-xl text-gray-400">Compute Engine</h3>
            </div>
            <div class="pt-2">

            </div>
            <div class="grid grid-cols-2 pt-2 bg-[#0000000A] border-b-2 border-b-gray-400 ">
              <label class="block text-sm font-medium text-[#707070] text-left pl-4 ">Item</label>
              <label class="block text-sm font-medium text-[#707070] text-right pr-4">Monthly estimate</label>
            </div>

            <div class="grid grid-cols-2 pt-2  border-b-2 border-b-gray-200 ">
              <label class="block text-sm font-bold text-[#707070] text-left pl-4 ">Total</label>
              <label class="block text-sm font-bold text-[#707070] text-right pr-4">$17.73</label>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
