<div class="grid grid-cols-1">
  <h3 class="text-xl text-gray-400">Compute Engine</h3>
</div>
<div class="pt-2">
</div>
<div class="grid grid-cols-2 pt-2 bg-[#0000000A] border-b-2 border-b-gray-400 ">
  <label class="block text-sm font-medium text-[#707070] text-left pl-4 ">Item</label>
  <label class="block text-sm font-medium text-[#707070] text-right pr-4">Monthly estimate</label>
</div>
<div class="grid grid-cols-2 pt-2  border-b-2 border-b-gray-200 ">
  <label class="block text-sm font-medium text-[#707070] text-left pl-4 ">{{selectedMachineType}}</label>
  <label class="block text-sm font-medium text-[#707070] text-right pr-4">$6.73</label>
</div>
<div class="grid grid-cols-2 pt-2  border-b-2 border-b-gray-200 ">
  <label class="block text-sm font-medium text-[#707070] text-left pl-4 ">{{selectedSize}} GB</label>
  <label class="block text-sm font-medium text-[#707070] text-right pr-4">$11.00</label>
</div>
<div class="grid grid-cols-2 pt-2  border-b-2 border-b-gray-200 ">
  <label class="block text-sm font-bold text-[#707070] text-left pl-4 ">Total</label>
  <label class="block text-sm font-bold text-[#707070] text-right pr-4">$17.73</label>
</div>
